# Python file for importing new trees and merging with the old trees

Python file for creating the tree.csv (in the repo) from the Excel file with the new trees provided by goniadis and the tree_old.csv files (in the repo) with the original old trees.

# Preparation

Make sure that the headers in the excel file are consistent. Download all spreadheet as separate csv files and upload them using the folder icon on the left to colab.

Then change the names of the files to be imported in the next lines.

In [ ]:
import pandas as pd

# READ ALL CSV files into a dataframe

In [ ]:
# READ ALL CSV files into a dataframe

# List the filenames of the CSV files
filenames = ['ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - 40 ΕΚΚΛΗΣΙΕΣ.csv',
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - Α' ΔΗΜ. ΔΙΑΜ. - ΙΣΤ. ΚΕΝΤΡΟ.csv",
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - Β' ΔΗΜ. ΔΙΑΜ..csv",
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - Γ' ΔΗΜ. ΔΙΑΜ..csv",
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - Δ' ΔΗΜ. ΔΙΑΜ..csv",
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - Ε' ΔΗΜ. ΔΙΑΜ..csv",
             "ΘΕΣΕΙΣ ΦΥΤΕΥΣΕΩΝ ΤΕΛΙΚΟ ΓΙΑ ΑΝΕΒΑΣΜΑ.xlsx - ΤΡΙΑΝΔΡΙΑ.csv"]

# Create an empty list to store the DataFrames
dfs = []

# Iterate over the filenames and read each CSV file into a DataFrame
for filename in filenames:
    df = pd.read_csv(filename)
    dfs.append(df)

# Concatenate the DataFrames into a single DataFrame
df = pd.concat(dfs, ignore_index=True)

# Count the number of rows
row_count = df.shape[0]

# Print the count
print("Number of rows:", row_count)

Number of rows: 2237

In [ ]:
df.head()

                  ΘΕΣΗ                             GEOLOCATION           ΕΙΔΟΣ
0  Στίλπωνος-Κατσιμίδη    40.62569210596589, 22.96868844062508  Acer campestre
1  Στίλπωνος-Κατσιμίδη   40.625620819164745, 22.96879130687427  Acer campestre
2      Στίλπωνος ΑΔΜΗΕ    40.62682208284931, 22.96759672463376  Acer campestre
3      Στίλπωνος ΑΔΜΗΕ  40.626849052926794, 22.967507887614673  Acer campestre
4      Στίλπωνος ΑΔΜΗΕ   40.62687152795554, 22.967426947167954  Acer campestre

# Clean

In [ ]:
# Define the value to be deleted
value_to_delete = 'Υπουργου Φιλ. Δραγούμη 1-6'

# Create a boolean mask for rows where 'geolocation' has the specified value
mask = df['GEOLOCATION'] == value_to_delete

# Delete the rows where 'geolocation' has the specified value
df = df[~mask]

# Reset the index of the DataFrame after deleting rows
df = df.reset_index(drop=True)

In [ ]:
# Filter the rows where the 'GEOLOCATION' column is empty
filtered_df = df[df['GEOLOCATION'].isnull()]

# Display the filtered DataFrame
print(filtered_df)

           ΘΕΣΗ GEOLOCATION      ΕΙΔΟΣ
15  Σουρμενών 6         NaN  Λιγούστρο

In [ ]:
# Delete the rows where the 'GEOLOCATION' column is empty
df = df.dropna(subset=['GEOLOCATION'])

# Reset the index of the DataFrame after deleting rows
df = df.reset_index(drop=True)

In [ ]:
# Filter the rows where the 'ΕΙΔΟΣ' column contains a forward slash
filtered_df = df[df['ΕΙΔΟΣ'].str.contains('/')]

# Display the filtered DataFrame
print(filtered_df)

In [ ]:
# Remove the rows where the 'ΕΙΔΟΣ' column contains a forward slash
df = df[~df['ΕΙΔΟΣ'].str.contains('/')]

df = df[~df['ΕΙΔΟΣ'].str.contains(',')]

In [ ]:

# Trim leading and trailing spaces from all columns
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [ ]:
# Count the number of rows
row_count = df.shape[0]

# Print the count
print("Number of rows:", row_count)

Number of rows: 2190

# Merge same Types

In [ ]:
# Replace the wrong species
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('1 Celtis', 'Celtis australis')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Acer pesudoplatanus', 'Acer pseudoplatanus')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Liquidamparis orientalis', 'Liquidambaris orientalis')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Καλ. Δαμασκηνιά', 'Καλλωπιστική Δαμασκηνιά')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Καλλωπιστική δαμασκηνιά', 'Καλλωπιστική Δαμασκηνιά')

df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Acer campestre', 'Σφένδαμος πεδινός')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Acer platanoides', 'Σφένδαμος ο πλατανοειδής')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Acer pseudoplatanus', 'Σφενδάμι ψευδοπλάτανος')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Celtis australis', 'Κέλτις')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Celtis', 'Κέλτις')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Fotinia', 'Δενδρώδης φωτίνια')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Δενδρώδης Fotinia', 'Δενδρώδης φωτίνια')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Fraxinus ornus', 'Φράξος')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Ginko biloba', 'Γκίνγκο')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Liquidambaris orientalis', 'Υγράμβαρη')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Magnolia grandiflora', 'Μανόλια δενδρώδης')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Robinia pseudacacia', 'Ψευδοακακία')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Δρυς', 'Δρυς πλατύφυλλη')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Κυπαρίσσι', 'Κυπαρίσσι ορθόκλαδο')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Μανόλια', 'Μανόλια δενδρώδης')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Σφαιρική Ακακία', 'Ψευδοακακία')
df['ΕΙΔΟΣ'] = df['ΕΙΔΟΣ'].replace('Sorbus aucuparia', 'Αγριοσορβιά')

# Split GEOLOCATION

In [ ]:
# Split the 'geolocation' column into 'latitude' and 'longitude'
df[['latitude', 'longitude']] = df['GEOLOCATION'].str.split('[, ]+', 1, expand=True)
# Delete the 'geolocation' column
df = df.drop('GEOLOCATION', axis=1)

<ipython-input-122-1b1a6309d356>:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  df[['latitude', 'longitude']] = df['GEOLOCATION'].str.split('[, ]+', 1, expand=True)

In [ ]:
# List all unique values in the 'ΕΙΔΟΣ' column
unique_values = df['ΕΙΔΟΣ'].unique()

# Display the unique values
for value in unique_values:
    print(value)

Σφένδαμος πεδινός
Ακακία
Γκίνγκο
Φλαμουριά
Νεραντζιά
Λιγούστρο
Υγράμβαρη
Σοφόρα
Μελιά
Κερλετόρια
Ψευδοακακία
Σφενδάμι ψευδοπλάτανος
Κέλτις
Φράξος
Καλλωπιστική Δαμασκηνιά
Ιβίσκος
Πλατανομουριά
Κουτσουπιά
Κυπαρίσσι πλαγιόκλαδο
Σφαιρική Ακακία
Δενδρώδης φωτίνια
Μανόλια δενδρώδης
Δάφνη
Λιριόδεντρο
Πλατάνι
Λαγκεστρέμια
Καλλωπιστική Κερασιά
Δρυς πλατύφυλλη
Αριά
Sorbus aucuparia
Σφένδαμος ο πλατανοειδής
Ιπποκαστανιά

In [ ]:
# Count the rows for each unique type of tree
tree_counts = df['ΕΙΔΟΣ'].value_counts()

# Print the count of rows for each unique type of tree
print(tree_counts)

Νεραντζιά                   320
Σφένδαμος πεδινός           249
Καλλωπιστική Δαμασκηνιά     186
Σφενδάμι ψευδοπλάτανος      135
Ακακία                      130
Κερλετόρια                  129
Λιγούστρο                   114
Φράξος                      114
Σοφόρα                      101
Δενδρώδης φωτίνια            98
Κέλτις                       84
Υγράμβαρη                    81
Sorbus aucuparia             79
Ψευδοακακία                  65
Κουτσουπιά                   56
Ιβίσκος                      50
Λιριόδεντρο                  33
Πλατανομουριά                28
Γκίνγκο                      25
Φλαμουριά                    21
Δρυς πλατύφυλλη              20
Κυπαρίσσι πλαγιόκλαδο        17
Μανόλια δενδρώδης            14
Σφαιρική Ακακία              12
Δάφνη                         7
Καλλωπιστική Κερασιά          5
Πλατάνι                       4
Αριά                          4
Ιπποκαστανιά                  3
Μελιά                         2
Λαγκεστρέμια                  2
Σφένδαμος ο πλατανοειδής      2
Name: ΕΙΔΟΣ, dtype: int64

# Create the id and the other columns

In [ ]:
# Calculate the length of the DataFrame
length = len(df)

# Create the 'id' column with values starting from 50001
df['id'] = range(50001, 50001 + length)

In [ ]:
# Create the 'type' column with the value 'Tree' and the id of each row
df['name'] = 'Tree' + df['id'].astype(str)

In [ ]:
# Create the 'needs_watering' and 'is_alive' columns with values set to "0"
df['needs_watering'] = "0"
df['is_alive'] = "0"

In [ ]:
df['zip'] = "ΑΓΝΩΣΤΟΣ"

In [ ]:
df['creation_date'] = "2023-01-01"

In [ ]:
df['last_watered_date'] = "00:00:00"

In [ ]:
df.head()

,ΘΕΣΗ,ΕΙΔΟΣ,latitude,longitude,id,name,needs_watering,is_alive,zip,creation_date,last_watered_date
0,Στίλπωνος-Κατσιμίδη,Σφένδαμος πεδινός,40.62569210596589,22.96868844062508,50001,Tree50001,0,0,ΑΓΝΩΣΤΟΣ,2023-01-01,00:00:00
1,Στίλπωνος-Κατσιμίδη,Σφένδαμος πεδινός,40.625620819164745,22.96879130687427,50002,Tree50002,0,0,ΑΓΝΩΣΤΟΣ,2023-01-01,00:00:00
2,Στίλπωνος ΑΔΜΗΕ,Σφένδαμος πεδινός,40.62682208284931,22.96759672463376,50003,Tree50003,0,0,ΑΓΝΩΣΤΟΣ,2023-01-01,00:00:00
3,Στίλπωνος ΑΔΜΗΕ,Σφένδαμος πεδινός,40.626849052926794,22.967507887614673,50004,Tree50004,0,0,ΑΓΝΩΣΤΟΣ,2023-01-01,00:00:00
4,Στίλπωνος ΑΔΜΗΕ,Σφένδαμος πεδινός,40.62687152795554,22.967426947167954,50005,Tree50005,0,0,ΑΓΝΩΣΤΟΣ,2023-01-01,00:00:00

In [ ]:
# Rename the 'ΕΙΔΟΣ' column to 'type'
df = df.rename(columns={'ΕΙΔΟΣ': 'type', 'ΘΕΣΗ':  'address', })

In [ ]:
# Rearrange the columns in the desired order
new_order = ['id', 'name', 'needs_watering', 'is_alive', 'type', 'address', 'latitude', 'longitude', 'zip', 'creation_date', 'last_watered_date']
df = df[new_order]

In [ ]:
# Get the count of rows
row_count = df.shape[0]

# Display the count of rows
print("Number of rows:", row_count)

Number of rows: 2190

# Merge with the old trees

In [ ]:
# Read the second CSV file into a new DataFrame
df_new = pd.read_csv('tree_old.csv')

# Append the rows of the second DataFrame to the first DataFrame
df_appended = pd.concat([df_new, df], ignore_index=True)

In [ ]:
# Get the count of rows
row_count = df.shape[0]

# Display the count of rows
print("Number of new trees:", row_count)

# Get the count of rows
row_count = df_new.shape[0]

# Display the count of rows
print("Number of old trees:", row_count)

# Get the count of rows
row_count = df_appended.shape[0]

# Display the count of rows
print("Number of all trees:", row_count)

Number of new trees: 2190
Number of old trees: 38441
Number of all trees: 40631

In [ ]:
df_appended.head()

,id,name,needs_watering,is_alive,type,address,latitude,longitude,zip,creation_date,last_watered_date
0,1,Tree41859,0,0,ΙΒΙΣΚΟΣ,ΠΤΕΡΑΡΧΟΥ ΘΕΜΕΛΗ 13,40.596718,22.961785,54248,2021-09-05,00:00:00
1,2,Tree41858,0,0,ΚΕΡΚΙΔΑ,ΠΤΕΡΑΡΧΟΥ ΘΕΜΕΛΗ 9,40.596827,22.961372,54248,2020-09-05,00:00:00
2,3,Tree41857,0,0,ΚΕΡΚΙΔΑ,ΠΤΕΡΑΡΧΟΥ ΘΕΜΕΛΗ 9,40.596856,22.96127,54248,2020-09-05,00:00:00
3,4,Tree41856,0,0,ΒΥΣΣΙΝΙΑ,ΠΤΕΡΑΡΧΟΥ ΘΕΜΕΛΗ 7,40.596881,22.961185,54248,2014-09-05,00:00:00
4,5,Tree41855,0,0,ΛΕΜΟΝΟΚΥΠΑΡΙΣΣΟ,ΠΤΕΡΑΡΧΟΥ ΘΕΜΕΛΗ 7,40.596908,22.961095,54248,2014-09-05,00:00:00

In [ ]:
# Save the updated DataFrame to a new CSV file
df_appended.to_csv('tree.csv', index=False)

# Check for NaN values

In [ ]:
nan_values = df_appended.isna().sum()
print(nan_values)
# Create a boolean mask for NaN values in the DataFrame
nan_mask = df_appended.isna().any(axis=1)

# Filter the DataFrame using the boolean mask
nan_rows = df_appended[nan_mask]

# Display the rows with NaN values
print(nan_rows)

id                   0
name                 0
needs_watering       0
is_alive             0
type                 0
address              0
latitude             0
longitude            0
zip                  1
creation_date        0
last_watered_date    0
dtype: int64
          id       name needs_watering is_alive        type         address  \
26274  26275  Tree13043              0        0  ΕΥΚΑΛΥΠΤΟΣ  ΚΑΛΛΑΣ ΜΑΡΙΑΣ

        latitude  longitude  zip creation_date last_watered_date
26274  40.599572  22.949879  NaN    2014-05-06          00:00:00

# Download

In [ ]:
# Download the new CSV file
from google.colab import files
files.download('tree.csv')